<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="src/bootstrap.php" color="true" stopOnError="true" stopOnFailure="true">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <!-- Code coverage -->
    <filter>
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
    </filter>
</phpunit>